@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    NJ Contruction Services<br />
    Zone 9 Macanhan Carmen<br />
    Cagayan de Oro City, Philippines 9000 <br/>
    <abbr title="Phone">P:</abbr>
    09261055673<br/>
    <abbr title="Phone">P:</abbr>
    09335230842
</address>

<address>
    <strong>Email:</strong> <a href="mailto:njkings@gmail.com">njkings@gmail.com</a><br />
</address>
