@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>



<!--<form asp-action="Create">
	<div class="row">
		<label asp-for="name">Your name:</label><br />
		<input asp-for="name" class="form-control"/><br />
	</div>
	<div class="row">
		<label asp-for="email">Your email:</label><br />
		<input asp-for="email" class="form-control" /><br />
	</div>
	<div class="row">
		<label asp-for="message">Your message:</label><br />
		<textarea asp-for="message" class="form-control" ></textarea><br />
	</div>
	<input class = "btn btn-primary" type="submit" value="Send email" />
</form>			-->

<address>
    NJ Contruction Services<br />
    Zone 9 Macanhan Carmen<br />
    Cagayan de Oro City, Philippines 9000 <br/>
    <abbr title="Phone">P:</abbr>
    09261055673<br/>
    <abbr title="Phone">P:</abbr>
    09335230842
</address>

<address>
    <strong>Email:</strong> <a href="mailto:njkings@gmail.com">njkings@gmail.com</a><br />
</address>