@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/finished1.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Finished project sample
                    <!--<a class="btn btn-default" href="#">
                        Learn More
                    </a>-->
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/sample1.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    
                    <!--<a class="btn btn-default" href="#">
                        Learn More
                    </a>-->
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/sample2.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <!--<a class="btn btn-default" href="#">
                        Learn More
                    </a>-->
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/sample3.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                <!--<a class="btn btn-default" href="#">
                        Learn More
                    </a>-->
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            <strong>NJKING'S CONSTRUCTION SERVICES</strong> is a 100% Filipino owned company committed to provide services
            at a minimum cost while maintaining the highest level of quality and client satisfaction at all times.
        </p>
        <!--<ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>-->
    </div>
    <div class="col-md-4">
        <h2>Services We Provide</h2>
        <ul class ="un-styled list">
            <li>Building Construction</li>
            <li>Line Canal</li>
            <li>Grouted RipRap</li>
            <li>Roads</li>
            <li>Other related activities</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <address>
    NJ Contruction Services<br />
    Zone 9 Macanhan Carmen<br />
    Cagayan de Oro City, Philippines 9000 <br/>
    <abbr title="Phone">P:</abbr>
    09261055673<br/>
    <abbr title="Phone">P:</abbr>
    09335230842
</address>

<address>
    <strong>Email:</strong> <a href="mailto:njkings@gmail.com">njkings@gmail.com</a><br />
</address>
    </div>
   